/* ================================= Colors ================================= */

:root {
    --pink: #ce2178;
    --purple: #9155F2;
    --dark-purple: #2E0670;
    --light-blue: #4895ef;
    --aqua: #50deff;
    --light-gray: #acacac;
    --light-light-gray: #cecece;
}

/* ================================= Global ================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    outline: none;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--purple);
}

/* ================================= NavBar ================================= */

header {
    padding: 1rem;
    background-color: var(--dark-purple);

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);

}

#imgLogo {
    width: 15rem;
}


header nav {
    display: flex;
    flex-wrap: wrap;
}

header .navbar a {
    padding: 1rem;

    font-weight: 700;
    color: var(--light-light-gray);

    opacity: 0.85;
}

header .navbar a:hover {
    opacity: 1;
}

.navbar ul {
    display: flex;
}

li {
    list-style: none;
}
/* ================================= Main ================================= */

.container {
    margin: 5rem 0;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

    
}

.card {
    background-color: #2E0670;

    padding: 1rem;

    min-width: 20rem;
    width: 30vw;


    height: max-content;
    max-height: 268px;

    border-radius: .75rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
    cursor: pointer;
}

.card:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

.cardImage {
    height: 10rem;
    width: 10rem;
    border-radius: .5rem;

    object-fit: cover;
}


.content {
    padding: 0 1rem;
    color: var(--light-gray);
    opacity: 0.8;

    display: flex;
    flex-direction: column;
}

.content:hover{
    opacity: 1;
}

.content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .title {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 0;
}

.headTitle{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.headTitle h2{
    font-size:0.75rem;
    color:#F8F8FF
}

.headTitle h1 {
    font-size: 1.5rem;
}

.title .rating {
    display: flex;
    align-items: center;

    font-size: 1.35rem;
}
/*================================Sroll================================ */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--aqua);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
}

/* ==================================== Footer ===================================== */

.rodape{
    display: flex;
    align-items: center;
    justify-content:center;

    position:absolute;
    
    width:100%;

    background-color: var(--dark-purple);

    height:9vh;

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.rodape small{
    
    color:var(--light-light-gray);
}


/*==================================Modal================================*/

.modalPlaces{
    width: 100vw;
    height:100vh;

    position:fixed;
    top:0;
    left:0;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content:center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modalPlaces.active{
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 80vw;
    height:100vh;
    position: relative;
    
    display:flex;
}

.divImage{
    margin-top:2rem;

    padding:0 5rem 0 1rem;
}

.card {
    background-color: var(--dark-purple);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--light-light-gray)
}

.place {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 0 0 1rem 1rem;
}

figcaption.title{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    width:30rem;

    color: var(--light-light-gray);
    background-color: var(--dark-purple);
    border-radius: 1rem 1rem 0 0;

}

.description{
    color: var(--light-light-gray);
    background-color: var(--dark-purple);
    border-radius: 1rem;
    
    width:30rem;
    height: 10rem;

    padding:1rem;

    overflow:scroll
}

.description p{
    padding-top:1rem;

}

.description p:first-child{
    padding:0
}

.card.rating{
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
}

.close{
    top: 1rem;
    right: 1rem;
    position:absolute;

}

.close i{
    font-size:2rem;

    cursor: pointer;

    padding-left:2rem 
}

/* ================================= Comentarios ================================= */

.comments{

    margin-top:3rem;
    padding: 1rem;
    border: 0.3rem solid var(--dark-purple);
    border-radius: 1rem;

    width:100%;
    height:50%;
    
    overflow-y: scroll;
}

.name{
    font-size:1.3rem;
}

.line{
    border-bottom: 2px solid var(--light-gray);
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.map{
    width:100%;
    height:40vh;

    padding:1rem;

    border:none;
}


/* ================================= Media Queries ================================= */

@media only screen and (max-width:1280px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 45vw;
    }

    .subcard h2{
        font-size: 1.5rem;
    } 
    
    .rodape{
        position:fixed;

        bottom:0;
    }

    .modal{
        overflow: scroll;

        flex-direction: column;
        align-items: center;

        width:60vw;
    }

    .divImage{
        margin-top:2rem;
        padding:0
    }
}

@media (max-width:900px){
    figcaption.title{
        width:25rem
    }

    .place{
        width:25rem;
    }

    .description{
        width:25rem;

        overflow: scroll
    }
}


@media (max-width:800px){
    header{
        padding:1rem;
        justify-content:center
    }

    header a{
        padding-bottom: 1rem;
    }

    .navbar a{
        white-space: nowrap;
    }

    /*========================MAIN=========================*/
    .container {
        grid-template-columns: 1fr;
    }

    .card {
        width: 90vw;
    }  

    .comments{
        width:50vw;
    }

    .card.rating{
        width:10vw;
        overflow:scroll;

    }

    /*===================Modal==================*/

    figcaption.title{
        width:20rem
    }

    .place{
        width:20rem
    }

    .description{
        width:20rem
    }

    .rodape{
        height:5vh;
    }
}


@media (max-width:650px){
    figcaption.title{
        width:15rem;

        font-size:1.5rem
    }

    .place{
        width:15rem;
        height:15rem;
    }

    .description{
        width:15rem
    }

    .comments{
        width:50vw;
        height:30vh;

        padding:2rem
    }

    .card.rating{
        width:5vw;
        height:10vh;
    }

    .name{
        font-size:1rem
    }

    .text{
        font-size:1rem;
    }

}

@media(max-width:500px){
    figcaption.title{
        width:10rem;

        font-size:1.5rem
    }

    .place{
        width:10rem
    }

    .description{
        width:10rem
    }
}


@media (max-width:480px){
    body{
        overflow: scroll
    }

    #imgLogo{
        width:10rem;    
    }

    header{
        padding:0.5rem;
        justify-content:center;
    }

    header .navbar a{
        font-size: 0.5rem;
        padding:0.6rem;

        white-space: nowrap
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card {
        min-width: 15rem;
    }

    .cardImage{
        height:7rem;
        width:5rem;
    }

    .title h1{
        font-size: 1rem;
    }

    .card.rating{
        overflow: scroll
    }

    .rating{
        font-size:1rem;
    }

    .rodape{
        height:5vh;
    }
}