/* ================================= Colors ================================= */

:root {
    --pink: #ce2178;
    --purple: #9155F2;
    --dark-purple: #2E0670;
    --light-blue: #4895ef;
    --aqua: #50deff;
    --light-gray: #acacac;
    --light-light-gray: #cecece;
}

/* ================================= Global ================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    outline: none;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--purple);
}

.shadow{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);;
}

/* ================================= NavBar ================================= */

header {
    padding: 1rem;
    background-color: var(--dark-purple);

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
}

#imgLogo {
    width: 15rem;
}


header nav {
    display: flex;
    flex-wrap: wrap;
}

header .navbar a {
    padding: 1rem;

    font-weight: 700;
    color: var(--light-light-gray);

    opacity: 0.85;
}

header .navbar a:hover {
    opacity: 1;
}

.navbar ul {
    display: flex;
}

li {
    list-style: none;
}

/* ================================= Main ================================= */

main {
    padding: 3rem 2rem;

    height: 55rem;

    display:flex;
    flex-direction: row;

    gap: 1.5rem;
}

.card {
    background-color: var(--dark-purple);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--light-light-gray)
}


/* ================================= Image ================================= */


img.place {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 0 0 1rem 1rem;


}

figcaption.title{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    width:30rem;

    color: var(--light-light-gray);
    background-color: var(--dark-purple);
    border-radius: 1rem 1rem 0 0;

}

/* ================================= Descricao ================================= */



.description{
    color: var(--light-light-gray);
    background-color: var(--dark-purple);
    border-radius: 1rem;
    
    width:30rem;
    height: 15rem;

    padding:1rem;
}

.description p{
    text-indent: 1rem;
}



/* ================================= Comentarios ================================= */

.card.rating{
    margin: 1rem 0;
}

.comments{
    padding: 2rem;
    border: .3rem solid var(--dark-purple);
    border-radius: 1rem;

    width:100%;
    
    overflow-y: scroll;

    height: 100%;
}

p.name{
    font-size:1.3rem;
}

.line{
    border-bottom: 2px solid var(--light-gray);
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}



/* =================================== Scroll ====================================== */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--aqua);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
}

::-webkit-scrollbar-track {
    background-color: var(--purple);
    border-radius: 0px;
}

/* ==================================== Footer ===================================== */


.rodape{
    display: flex;
    align-items: center;
    justify-content:center;
    
    width:100%;

    background-color: var(--dark-purple);

    height:9vh;
}

.rodape small{
    
    color:var(--light-light-gray);
}

/* ================================= Media Queries ================================= */