:root {
    --pink: #ce2178;
    --dark-pink: #b5179e;
    --purple: #7209b7;
    --dark-purple: #3a0ca3;
    --dark-blue: #3f37c9;
    --blue:#4361ee;
    --light-blue: #4895ef;
    --aqua: #50deff;
}

*{
    margin: 0;
    padding: 0;
}


.container{
    background-color: var(--blue);
}

.navbar{
    display: flex;
    height: 8vh;
    background-color: var(--purple);
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.title{
    width: 30%;
    align-self: flex-start;
    margin-top: 5px;
}

.navbar a{
    margin-left: 1%;
    font-size: 35px;
    text-decoration: none;
    color: var(--aqua);
}

section{
    background-color: var(--blue);
}

.box1{
    display: flex;
    justify-content: center;
    height: 25vh;
    margin: 5% 5%;
}

.box2{
    justify-content: center;
    display: flex;
    height: 25vh;
    margin: 5% 5% 9% 5%;
}

.place{
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--purple);
    margin-left: 1%;
    margin-right: 1%;
    width: 35%;
    align-items: center;
}

.place1{
    display: flex;
    align-items: center;
}

.place2{
    display: flex;
    align-items: center;
}

.place3{
    display: flex;
    align-items: center;
}

.place4{
    display: flex;
    align-items: center;
}

.place5{
    display: flex;
    align-items: center;
}

.place6{
    display: flex;
    align-items: center;
}

.img-places{
    width: 35%;
    height: 15vh;
    margin-left: 2%;
    border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    height: 5vh;
    font-size: 22px;
    color: var(--aqua);
}